@page
@{
    Layout = null;
    var myDateTime = DateTime.Now;

}

   

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Goodbye from the goodbye.cshtml file</title>

</head>
<body>
    <h1>Goodbye from the goodbye.cshtml file</h1>
    @Html.Raw(myDateTime)
</body>
</html>
