@page
@model people.pages.namegreetingModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


@{
   
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>namegreeting</title>
</head>
<body>

    <form method="POST">
        <label for="firstName">
            First Name :<input type="text" name="firstName" placeholder="Your name" />
        </label>
        <input type="submit" />
    </form>

    <h3>
        @Model.Message
    </h3>

</body>
</html>
