@page
@model people.pages.taghelpplayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>taghelpplay</title>
</head>
<body>
    <form method="post">
        <label asp-for=Number1></label>
        <input asp-for=Number1 />

        <label asp-for=Number2></label>
        <input asp-for=Number2 />
        <button type="button">Submit</button>

        <label for="Winter" id="Winter" type="radio" asp-for="Season">Winter</label>
        <label for="Summer" id="Summer" type="radio" asp-for="Season">Summer</label>
        <label for="autumn" id="autumn" type="radio" asp-for="Season">Autumn</label>
        <label for="spring" id="spring" type="radio" asp-for="Season">Spring</label>
    </form>
    <h2>@Model.Message</h2>



    @*<h3>@Model.Number1 plus @Model.Number2 equals @(Model.Number1+Model.Number2)</h3>*@
</body>
</html>
